[Desktop Entry]
Name=URxvt
Comment=Small, fast X11 terminal application with unicode support
Comment[pl]=Mała, szybka aplikacja terminala pod X11 z obsługą unicode
Exec=urxvt
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
# vi: encoddding=utf-8
