<!doctype html>
<!-- Server: sfs-consume-1 -->

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6" > <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7" > <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8" > <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9" > <![endif]-->
<!--[if (gt IE 9)|!(IE)]>--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Advanced platform-independant, Object-Oriented threading and synchronization library. Designed and tested under POSIX &amp; Win32 systems. Not just another thread wrapper.">
        <meta name="keywords" content="Operating System Kernels, Software Development,  Open Source, Open Source Software, Development, Community, Source Code, Secure,  Downloads, Free Software">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ZThread -  Browse Files at SourceForge.net</title>
        <link rel="shortcut icon" href="http://a.fsdn.com/con/img/sftheme/favicon.ico">
        <script type="text/javascript">
            /*jslint onevar: false, nomen: false, evil: true, css: true, plusplus: false, white: false, forin: true */
            /*global unescape, window, jQuery, $, net, COMSCORE */
            // Setup our namespace
            if (!window.net) { window.net = {}; }
            if (!window.net.sf) { window.net.sf = {}; }
        </script>

<script src="http://a.fsdn.com/con/js/sftheme/modernizr.custom.90514.js"></script>

<script src="http://a.fsdn.com/con/js/sftheme/jquery-1.5.1.js"></script>
<!--[if lt IE 7 ]>
  <script src="http://a.fsdn.com/con/js/sftheme/dd_belatedpng.js"></script>
  <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
<![endif]-->

<link href='//fonts.googleapis.com/css?family=Ubuntu:regular' rel='stylesheet' type='text/css'>
<style type="text/css">
    @font-face {
        font-family: "Pictos";
        src: url('http://a.fsdn.com/con/css/fonts/sftheme/pictos-web.eot');
        src: local("☺"), url('http://a.fsdn.com/con/css/fonts/sftheme/pictos-web.woff') format('woff'), url('http://a.fsdn.com/con/css/fonts/sftheme/pictos-web.ttf') format('truetype'), url('http://a.fsdn.com/con/css/fonts/sftheme/pictos-web.svg') format('svg');
    }
</style>
 <link rel="stylesheet" href="http://a.fsdn.com/con/css/sf.css?1318009772" type="text/css">
        
<!-- DoubleClick Random Number -->
<script type="text/javascript">
    var dfp_ord = Math.random() * 10000000000000000;
    var dfp_tile = 1;
    var ad_prefix = '';
    var adspot = '';
    var demandbase = demandbase || '';
    var adblock = true;

    
    var ad_page = '/project/showfiles.php';
    

    var adid = '';
    var sponsored = '';
    var ad_topics = '';
    var dfp_dcopt = 'dcopt=ist;';

    
    var page_id = '';
    

    
    var ad_zone = net.sf.ab_test || 'softdev';
    if (page_id) {
        ad_prefix = 'cons_' + page_id + '_' + ad_zone + '_';
    } else {
        ad_prefix = 'cons_' + ad_zone + '_';
    }
    

    var ad_logged_in = 0;
    var ad_search = 0;
    var immersion_adcode = "";
    var dfp_u = '';

    var google_page_url = 'http://sourceforge.net/projects/zthread';
    var sourceforge_project_name = 'ZThread';
    var sourceforge_project_description = 'Advanced platform independant Object Oriented threading and synchronization library Designed and tested under POSIX Win32 systems Not just another thread wrapper ';
    ad_topics = 'tpc=zthread;';
    
    var google_hints = 'development,kernels,cpp,system';
    dfp_u = '20000621_zthread_Operating-System-Kernels';
    ad_topics += 'tpc=development;tpc=kernels;tpc=cpp;tpc=system;aud=developers;aud=other;';
    

</script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-32013-6']);
            _gaq.push(['_setCustomVar', 1, 'Page Type', 'pg_files', 3]);
            _gaq.push(['_setCustomVar', 3, 'Project', 'zthread', 3]);
            _gaq.push(['_setCustomVar', 4, 'Topic', 'Operating System Kernels, Software Development', 3]);
            
            _gaq.push(['_trackPageview']);
            _gaq.push(['_trackPageLoadTime']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body id="pg_files" class="user">
        
        <div id="busy-spinner"></div>
        
<header id="site-header">
    <div class="wrapper">
        <a href="/" class="logo">
            <span>SourceForge</span>
        </a>
        
        <form method="get" action="/search/">
            <input type="text" id="words" name="q" placeholder="Find Open Source Software">
        </form>
        
        <!--Switch to {language}-->
        <nav id="nav-site">
            <a href="/directory/" title="Browse our software.">Browse</a>
            <a href="/blog/" title="Read the latest news from the SF HQ.">Blog</a>
            <a href="/support" title="Contact us for help and feedback.">Support</a>
        </nav>
        <nav id="nav-account">
            
            <a href="https://sourceforge.net/user/registration">Register</a>
            <a href="https://sourceforge.net/account/login.php">Log In</a>
            
        </nav>
        
    </div>
</header>
        
<header id="page-header">
    
<section id="project-header">
    <div class="ads">
        <div id="p1_leader" class="ad leaderboard">
            
<script type="text/javascript">
    adspot = ad_prefix + 'p1_leader';
    if (adid !== "") {
        adspot += ";comp=" + adid;
    }
    if (immersion_adcode === "") {
        var adSrc = "http://ad.doubleclick.net/adj/ostg.sourceforge/" + adspot + ';pg=' + ad_page + ';psrch=' + ad_search + ';logged_in=0' + demandbase + ';' + ad_topics + dfp_dcopt + 'tile=' + dfp_tile + ';sz=728x90;ord=' + dfp_ord + '?';
        _gaq.push(['_trackEvent', 'Ads', 'DFPRequest', adSrc, demandbase ? 1 : 0]);
        document.write(unescape('%3Cscript src="' + adSrc + '" type="text/javascript"%3E%3C/script%3E'));
        
        dfp_tile = dfp_tile + 1;
        dfp_dcopt = ''; 
    }
</script>
        </div>
        <div id="logo_sponsorship" class="ad hub">
            
<script type="text/javascript">
    adspot = 'cons_pg_files_logo_sponsorship';
    if (adid !== "") {
        adspot += ";comp=" + adid;
    }
    if (immersion_adcode === "") {
        var adSrc = "http://ad.doubleclick.net/adj/ostg.sourceforge/" + adspot + ';pg=' + ad_page + ';psrch=' + ad_search + ';logged_in=0' + demandbase + ';' + ad_topics + dfp_dcopt + 'tile=' + dfp_tile + ';sz=200x90;ord=' + dfp_ord + '?';
        _gaq.push(['_trackEvent', 'Ads', 'DFPRequest', adSrc, demandbase ? 1 : 0]);
        document.write(unescape('%3Cscript src="' + adSrc + '" type="text/javascript"%3E%3C/script%3E'));
        
        dfp_tile = dfp_tile + 1;
        dfp_dcopt = ''; 
    }
</script>
        </div>
    </div>
    <div style="clear:both"></div>
    <div id="project-title">
        <h1>
                <a href="/projects/zthread/">ZThread</a>
        </h1>
        <p id="maintainers">
        by
        <a href="/users/ecrahen">ecrahen</a>
        </p>
        
    </div>
</section>
<nav>
    <div class="firstwave">
 <ul class="b-hornav">
  <li id="menu_consume_summary">
   <a href="/projects/zthread/">
    <span>
     <span>
      Summary
     </span>
    </span>
   </a>
  </li>
  <li id="menu_consume_files" class="selected">
   <a href="/projects/zthread/files/">
    <span>
     <span>
      Files
     </span>
    </span>
   </a>
   <div class="diamond">
   </div>
  </li>
  <li id="menu_consume_reviews">
   <a href="/projects/zthread/reviews/">
    <span>
     <span>
      Reviews
     </span>
    </span>
   </a>
  </li>
  <li id="menu_project_support">
   <a href="/projects/zthread/support">
    <span>
     <span>
      Support
     </span>
    </span>
   </a>
  </li>
  <li id="menu_project_develop">
   <a href="/projects/zthread/develop">
    <span>
     <span>
      Develop
     </span>
    </span>
   </a>
   <ul>
    <li id="menu_project_website">
     <a href="http://zthread.sourceforge.net">
      Web Site
     </a>
    </li>
    <li id="menu_stats">
     <a href="/projects/zthread/stats/traffic">
      Project Statistics
     </a>
    </li>
    <li id="menu_download_stats_dist">
     <a href="/downloads/zthread/stats_timeline">
      Download Stats
     </a>
    </li>
   </ul>
  </li>
  <li id="menu_forums">
   <a href="/projects/zthread/forums">
    <span>
     <span>
      Forums
     </span>
    </span>
   </a>
   <ul>
    <li id="menu_forum_22488">
     <a href="/projects/zthread/forums/forum/22488">
      Open Discussion
     </a>
    </li>
    <li id="menu_forums_stats" class="tools">
     <a href="/projects/zthread/stats/forums">
      Statistics for Forums
     </a>
    </li>
    <li id="menu_forums_search">
     <a href="/search/?group_id=7232&amp;type_of_search=forums">
      Search Forums
     </a>
    </li>
   </ul>
  </li>
  <li id="menu_code">
   <a href="/scm/?type=cvs&amp;group_id=7232">
    <span>
     <span>
      Code
     </span>
    </span>
   </a>
   <ul>
    <li id="menu_cvs_about">
     <a href="/scm/?type=cvs&amp;group_id=7232">
      CVS
     </a>
    </li>
    <li id="menu_cvs_browse">
     <a href="http://zthread.cvs.sourceforge.net/zthread/">
      CVS Browse
     </a>
    </li>
    <li id="menu_cvs_stats">
     <a href="/projects/zthread/stats/scm?repo=CVSRepository">
      CVS Statistics
     </a>
    </li>
   </ul>
  </li>
 </ul>
</div>
</nav>

</header>

        <div id="messages">
            <section class="message error notify-sticky">
                <div class="content">The "/ZThread-2.3.2.tar" file could not be found or is not available.  Please select another file.</div>
            </section>
        </div>
        <div id="page-body">
    <noscript>
        <p>The interactive file manager requires Javascript. Please enable it or use <a href="https://sourceforge.net/apps/trac/sourceforge/wiki/Release%20files%20for%20download#SCP">sftp or scp</a>.
        <br/>You may still <em>browse</em> the files here.</p>
    </noscript><div class="download-bar">Looking for the latest version? <strong>
    <a href="http://sourceforge.net/projects/zthread/files/ZThread/2.3.2/ZThread-2.3.2.tar.gz/download" title="/ZThread/2.3.2/ZThread-2.3.2.tar.gz:  released on 2005-03-13 10:09:18 UTC">
        <span>Download ZThread-2.3.2.tar.gz (412.5 kB)</span>
    </a>
    </strong></div>
    <div id="files">
        <div class="files-breadcrumb">
            <span class="actions"><a href="/api/file/index/project-id/7232/mtime/desc/limit/20/rss" title="Monitor this project's files using RSS" data-icon="f" class="ico ico-feed"></a></span>
            
            Home
            
            
        </div>

        <table id="files_list" title="This is a list of the files for this project">
            <col class="name-column">
            <col class="date-column">
            <col class="size-column">
            <col class="status-column">
            <thead>
                <tr>
                    <th title="The file or folder's name" id="files_name_h" class="first">Name</th>
                    <th title="The file or folder's last modified date" id="files_date_h" class="opt">Modified</th>
                    <th title="The file size" id="files_size_h" class="opt">Size</th>
                    <th title="A snapshot of the file or folder's status" id="files_status_h" class="typesort">Status</th>
                </tr>
                
            </thead>
            <tfoot>
                <tr>
                    <td id="totals"><span class="label">Totals: </span>1 Item</td>
                    <td class="opt">&nbsp;</td>
                    <td headers="files_size_h" class="opt"></td>
                    <td headers="files_status_h">
                        
                    </td>
                </tr>
            </tfoot>
            <tbody>
                
                <tr title="ZThread" class="folder warn">
                    <th scope="row" headers="files_name_h"><span data-icon="o" class="ico ico-folder"></span>
                        <a href="/projects/zthread/files/ZThread/"
                           title="Click to enter ZThread"
                           class="name">
                        ZThread</a></th>
                    <td headers="files_date_h" class="opt"><abbr title="2005-03-13 10:09:08 UTC">2005-03-13</abbr></td>
                    <td headers="files_size_h" class="opt"></td>
                    <td headers="files_status_h" class="status folder"><a href="/projects/zthread/files/ZThread/stats/timeline" class="fs-stats ui-corner-all folder"><img class="fs-sparklines folder" src="http://a.fsdn.com/con/img/gallery/opa75.png" data-src="http://chart.apis.google.com/chart?cht=ls&amp;chs=20x16&amp;chco=0685c6&amp;chm=B,0685c6,0,0,0&amp;chd=t:14,18,4,6,13,7,10&amp;chds=0,18" title="62,754 downloads" alt="62,754 downloads" width="20" height="16" /></a></td>
                </tr>
            </tbody>
        </table>
        <div id="files-drawer" class="fs-widget fs-drawer consumer">
        </div>
    </div>

    
    <div id="sidebar-ads">
        <div class="ads">
            <div id="fad84" class="ad medrec">
                
<script type="text/javascript">
    adspot = ad_prefix + 'p84_medrec';
    if (adid !== "") {
        adspot += ";comp=" + adid;
    }
    if (immersion_adcode === "") {
        var adSrc = "http://ad.doubleclick.net/adj/ostg.sourceforge/" + adspot + ';pg=' + ad_page + ';psrch=' + ad_search + ';logged_in=0' + demandbase + ';' + ad_topics + dfp_dcopt + 'tile=' + dfp_tile + ';sz=300x250,300x600;ord=' + dfp_ord + '?';
        _gaq.push(['_trackEvent', 'Ads', 'DFPRequest', adSrc, demandbase ? 1 : 0]);
        document.write(unescape('%3Cscript src="' + adSrc + '" type="text/javascript"%3E%3C/script%3E'));
        
        dfp_tile = dfp_tile + 1;
        dfp_dcopt = ''; 
    }
</script>
            </div>
            <div id="fad85" class="ad medrec">
                
<script type="text/javascript">
    adspot = ad_prefix + 'p85_medrec';
    if (adid !== "") {
        adspot += ";comp=" + adid;
    }
    if (immersion_adcode === "") {
        var adSrc = "http://ad.doubleclick.net/adj/ostg.sourceforge/" + adspot + ';pg=' + ad_page + ';psrch=' + ad_search + ';logged_in=0' + demandbase + ';' + ad_topics + dfp_dcopt + 'tile=' + dfp_tile + ';sz=300x250;ord=' + dfp_ord + '?';
        _gaq.push(['_trackEvent', 'Ads', 'DFPRequest', adSrc, demandbase ? 1 : 0]);
        document.write(unescape('%3Cscript src="' + adSrc + '" type="text/javascript"%3E%3C/script%3E'));
        
        dfp_tile = dfp_tile + 1;
        dfp_dcopt = ''; 
    }
</script>
            </div>
        </div>
    </div>
    

        </div>
        
        <hr id="footer_separator">
          
<footer id="site-footer">
    <nav>
        <a href="http://twitter.com/sfnet_ops">Status</a>
        <a href="/apps/trac/sitelegal/wiki/Terms_of_Use">Terms</a>
        <a href="http://geek.net/privacy-statement">Privacy</a>
        <a href="http://geek.net/advertise/">Advertise</a>
        <a href="/about">About</a>
    </nav>
    <div id="copyright">
        &copy; 2011 <a href="http://geek.net" title="Network which provides and promotes Open Source software downloads, development, discussion and news.">Geeknet, Inc.</a>
    </div>
</footer>
            <script src="http://a.fsdn.com/con/js/min/sf.js-it.js?1318009772" type="text/javascript"></script>
        
        <!-- Begin comScore Tag -->
        <script type="text/javascript">
            document.write(unescape("%3Cscript src='" + (document.location.protocol === "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js' %3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            if (window.COMSCORE) {
                COMSCORE.beacon({
                    c1: 2,
                    c2: 6035546,
                    c3: "",
                    c4: "",
                    c5: "",
                    c6: "",
                    c15: ""
                });
            }
        </script>
        <noscript>
            <img src="http://b.scorecardresearch.com/p?c1=2&amp;c2=6035546&amp;c3=&amp;c4=&amp;c5=&amp;c6=&amp;c15=&amp;cj=1" alt="comScore2" />
        </noscript>
        <!-- End comScore Tag -->
        
<script type="text/javascript" src="http://a.fsdn.com/con/js/files.js?1318009772"></script>


<script type="text/html" id="default_platforms_tmpl">
    <%
    var defaults = [
            { value: 'windows', label: 'Windows' },
            { value: 'mac', label: 'Mac OS X' },
            { value: 'linux', label: 'Linux' },
            { value: 'bsd', label: 'BSD' },
            { value: 'solaris', label: 'Solaris' },
            { value: 'others', label: 'Others' }
        ];
    %><% if (this.length) { %><div class="drawer-label">
        <span>Default Download For:</span>
    </div>
    <div class="drawer-value">
        <ul>
            <% for (i in defaults) { %>
            <% var v = defaults[i].value, l = defaults[i].label; %><% if (this.indexOf(v) >= 0) { %><li><span title="<%= l %>" class="platform-icon <%= v %>"><%= l %></span><% } %><% } %>
        </ul>
    </div><% } %></script>

<script type="text/html" id="file_drawer_tmpl">
<form class="bp" action="/projects/zthread/files/<%= this.full_path %>" method="put" id="file_properties_content">
    <table id="drawer_row">
        <col class="name-column">
        <col class="date-column">
        <col class="size-column">
        <col class="status-column">
        <tbody>
            <tr title="<%= this.name %>">
                <td><a href="<% if (this.type === 'f') { %><%= this.download_url %><% } else { %><%= this.url %><% } %>" class="name"><%= this.name %></a>
                </td>
                <td class="files-date"></td>
                <td class="files-size"></td>
                <td class="files-status status"></td>
            </tr></tbody>
    </table>
    <div id="file-details">
        <% if (this.type === 'f') { %>
        <div id="file-info">
            <% if (this.staged) { %><div>This file is staged until <%= new Date(this.stage * 1000).toUTCString() %>.</div><% } %>

            <div class="label">
                <span>SHA1:</span>
            </div>
            <div class="value">
                <pre class="selectable"><%= this.sha1 %></pre>
            </div>

            <div class="label">
                <span>MD5:</span>
            </div>
            <div class="value">
                <pre class="selectable"><%= this.md5 %></pre>
            </div><% if (this.legacy_release_notes) { %>
            <div class="value no-label">
                <span><a href="<%= this.legacy_release_notes %>">Release Notes</a></span>
            </div>
            <% } %>
        </div>

        <div id="download-info">
            <div class="label">
                <span>Downloads:</span>
            </div>
            <div class="value">
                <span><%= (this.downloads === null ? 'Not counted' : this.downloads) %></span>
            </div><div class="default">
                <span style="display: block; position: static;" class="busy-spinner ui-corner-all"></span>
            </div>
        </div>
        <% } %></div>
</form>
</script>

<script type="text/javascript">
    jQuery(function ($) {
        $('#files').files();
        /*jslint white: false*/
        net.sf.files = {
            "ZThread": {"sha1": "", "name": "ZThread", "mirrors": 0, "url": "/projects/zthread/files/ZThread/", "downloads": 62754, "md5": "", "staged": false, "exclude_reports": false, "download_url": "http://sourceforge.net/projects/zthread/files/ZThread/download", "default": "", "downloadable": false, "legacy_release_notes": null, "download_label": "", "path": "", "stage": 0, "type": "d", "full_path": "ZThread", "explicitly_staged": false}
            };
    });
    jQuery(window).load(function() {
        $('.fs-sparklines').each(function(){
          $(this).attr('src', $(this).attr('data-src'));
        });

        var tsConfig = {
            widgets: ['zebra'],
            sortForce: [[3, 0]],
            headers: {
                1: { sorter: 'abbrdate' },
                2: { sorter: 'filesize' },
                3: { sorter: 'type'}
            },
            textExtraction: function (node) {
                return node.innerHTML;
            }
        };

        if ($('#files_list tbody tr').length) {
            $('#files_list').tablesorter(tsConfig);
            $('#files_list tr th#parent_folder').unbind();
            $('#files_list tr th.header').not('.typesort').not('#parent_folder').addClass('usersortable').append('<span class="ui-icon fs-toggle"><\/span>');
        }
    });
</script>

        <!-- KISSinsights page surveys -->
        <script type="text/javascript">
            var _kiq = _kiq || [];
            _kiq.push(['options', { anchor: 'left' }]);
            
        </script>
        <script type="text/javascript" src="//s3.amazonaws.com/ki.js/16994/3eh.js" async></script>
        <!-- End KISSinsights -->
    </body>
</html>