[Unit]
Description=CUPS Printing Service
After=syslog.target network.target

[Service]
ExecStart=/usr/sbin/cupsd -f
StandardOutput=syslog
ExecStartPost=/sbin/udevadm trigger --subsystem-match=usb --attr-match=bInterfaceClass=07 --attr-match=bInterfaceSubClass=01
ExecStartPost=/sbin/udevadm trigger --subsystem-match=usb --property-match=DEVNAME=/dev/usb/lp*

[Install]
WantedBy=multi-user.target

