[Desktop Entry]
Encoding=UTF-8
Name=Gvim
Comment=Vim with Gtk+ GUI
Comment[pl]=Vim z GUI Gtk+
Exec=gvim
Terminal=false
Icon=vim
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Type=Application
Categories=GTK;Development;

