[Desktop Entry]
Name=MPlayer
Comment=The Movie Player for Linux
Exec=mplayer
Icon=mplayer
Terminal=false
Type=Application
NoDisplay=true
MimeType=video/3gpp;video/mp4;video/mpeg;video/quicktime;video/x-flic;video/x-matroska;video/x-mng;video/x-ms-asf;video/x-ms-wmp;video/x-ms-wmv;video/x-msvideo;video/x-ogm;video/x-theora;
Categories=AudioVideo;Player;

