[Desktop Entry]
Exec=qtconfig
Name=Qt Configuration
Name[de]=Qt Konfiguration
Name[pl]=Konfiguracja Qt
Comment=A graphical configuration tool for programs using Qt
Comment[de]=Ein grafisches Konfigurationstool für Qt-Programme
Comment[pl]=Narzędzie graficzne do konfiguracji programów korzystających z Qt
MapNotify=true
MimeType=application/x-qtconfig;
Terminal=false
Icon=qtconfig
Type=Application
Categories=Qt;Settings;
