[Unit]
Description=GNOME Display Manager
After=syslog.target systemd-user-sessions.service

# DM/X11 on tty1. We explicitly cancel the getty here to
# avoid any races around that.
Conflicts=getty@tty1.service slim.service
After=getty@tty1.service

[Service]
ExecStart=/usr/sbin/gdm -nodaemon

[Install]
WantedBy=graphical.target
